:root {
  --background-color: #f2f2f2;
  --product-header-color: #495D69;
  --product-card-background-color: white;
  --view-option-selected-color: #bb86fc;
  --view-option-hover-color: #333;
  --text-color-light: black;
  --text-color-dark: white;
  --button-bg-color: #6200ea;
  --button-text-color: white;
  --button-hover-bg-color: #3700b3;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--background-color);
  padding: 0 20px;
  color: var(--text-color-dark); /* Default to dark mode text color */
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-header-box {
  display: flex;
  align-items: center;
  background-color: var(--product-header-color);
  padding: 10px;
  margin: 10px auto 0; /* Remove bottom margin to connect with item boxes */
  border-radius: 8px 8px 0 0; /* Rounded top corners only */
  height: 52px; /* Height for product header */
  max-width: 780px; /* Smaller width */
}

.product-header {
  display: grid;
  grid-template-columns: 250px 150px 200px; /* Adjusted widths for each column */
  align-items: center;
}

.inventory-container {
  padding: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.add-item-button,
.add-stock-button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
}

.add-item-button:hover,
.add-stock-button:hover {
  background-color: var(--button-hover-bg-color);
}