/* src/Styles.css */
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: #4894bc; /* Updated color */
  padding: 0 20px;
  color: white;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
}

.header .name {
  font-size: 18px;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 223px;
  background-color: #f8fcfc; /* Updated color */
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 90px); /* Subtract header height */
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  flex: 1;
}

.sidebar nav ul li {
  margin: 20px 0;
}

.sidebar nav ul li a {
  display: block;
  padding: 15px 20px; /* Increased padding */
  color: black;
  text-decoration: none;
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s;
}

.sidebar nav ul li a:hover {
  background-color: #e0e0e0; /* Light grey background on hover */
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.content {
  flex: 1;
  padding: 20px;
}