/* src/Styles.css */
:root {
  --background-color: #f2f2f2;
  --text-color: #000;
  --header-background-color: #4894bc;
  --sidebar-background-color: #f8fcfc;
  --product-card-background-color: #fff;
  --view-option-selected-color: #4894bc;
  --view-option-hover-color: #e0e0e0;
}

[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #fff;
  --header-background-color: #333;
  --sidebar-background-color: #1e1e1e;
  --product-card-background-color: #1e1e1e;
  --view-option-selected-color: #bb86fc;
  --view-option-hover-color: #333;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--text-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: var(--header-background-color);
  padding: 0 20px;
  color: white;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
}

.header .name {
  font-size: 18px;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 223px;
  background-color: var(--sidebar-background-color);
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 90px); /* Subtract header height */
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  flex: 1;
}

.sidebar nav ul li {
  margin: 20px 0;
}

.sidebar nav ul li a {
  display: block;
  padding: 15px 20px; /* Increased padding */
  color: var(--text-color);
  text-decoration: none;
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s;
}

.sidebar nav ul li a:hover {
  background-color: var(--view-option-hover-color);
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  align-items: center; /* Center content horizontally */
}

.content {
  flex: 1;
  padding: 20px;
  width: 100%;
  max-width: 800px; /* Limit the width of the content */
}

.dark-mode-toggle {
  background-color: var(--header-background-color);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.dark-mode-toggle:hover {
  background-color: var(--view-option-selected-color);
}