.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.modal-content {
  background-color: white; /* Change background color to white */
  padding: 40px; /* Increase padding for larger size */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  transform: scale(0.9);
  animation: scaleIn 0.3s forwards;
  color: #495D69; /* Change text color to match the theme */
  width: 500px; /* Increase width */
  max-width: 90%; /* Ensure it doesn't overflow on smaller screens */
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #495D69; /* Change close button color to match the theme */
}

.modal-content label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.modal-content input {
  width: 100%;
  padding: 10px; /* Increase padding for better usability */
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0; /* Change input background color */
  color: #495D69; /* Change input text color */
}

.modal-content button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content .add-button {
  background-color: #495D69;
  color: white;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.modal-content .cancel-button {
  background-color: red;
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  to {
    transform: scale(1);
  }
}